$ease: $easeOutPower4;
@mixin arrow($color: $black, $size: 6px, $size-desktop: 6px, $border-width: 1px) {
  overflow: hidden;
  position: relative;
  width: $size * 2;
  height: $size * 2;

  display: inline-block;
  &::after, &::before {
    border-right: $border-width solid $color;
    border-bottom: $border-width solid $color;

    position: absolute;
    top: 50%;
    left: 38%;
    width: $size;
    height: $size;

    transform: translate(-50%, -50%) rotate(-45deg);
    transform-origin: 50% 50%;

    vertical-align: 3px;

    text-indent: 0;

    content: '';

    @include mq-desktop {
      width: $size-desktop;
      height: $size-desktop;
    }
  }
  &::after {
    //transform: translate(-50%, -50%) rotate(-45deg);
  }
  @include mq-desktop {
    width: $size-desktop * 2;
    height: $size-desktop * 2;
  }

}
