@mixin placeholder-color($color: #aaa) {
  &::placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    opacity: 1;

    color: $color;
  }
  &:-moz-placeholder {
    opacity: 1;

    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}


@mixin reset-form-controls($background-color: #fff, $color: #000, $placeholder-color: #999, $border-color: false) {
  @include placeholder-color($placeholder-color);
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  textarea, select {
    border: none;

    width: 100%;

    appearance: none;
    background-color: $background-color;

    color: $color;
    @if ($border-color != false) {
      border: 1px solid $border-color;
    }
  }
  // IE10
  select::-ms-expand {
    display: none;
  }
  // firefox
  select {
    -moz-appearance: none;

    text-indent: 0.01px;
    text-overflow: '';
  }
  input[type='checkbox'] {
    margin-top: #{(30-14)/2}px;
    margin-left: -16px;

    position: absolute;
  }
  input[type='submit'] , input[type='reset'] {
    //background-color: transparent;
    //padding: 0;
    //margin: 0;
    //border: none;
    //-webkit-appearance: none;
  }

}

