/* =========================================================
  group img
============================================================ */
@mixin img-max {
  width: 100%;
  height: auto;
}

@mixin img-responsive {
  max-width: 100%;
  height: auto;
}

@mixin img-contain {
  overflow: hidden;
  position: relative;
  img {
    @include center;
    width: auto;
    height: auto;
  }
}

@mixin img-cover($img-selector: img) {
  overflow: hidden;
  position: relative;
  #{$img-selector} {
    @include center;
    width: auto;
    min-width: 100%;
    max-width: inherit;
    height: auto;
    min-height: 100%;
    object-fit: cover;

  }
  @supports (object-fit: cover) {
    #{$img-selector} {
      top: 0;
      left: 0;
      width: 100%;
      min-width: 0;
      height: 100%;
      min-height: 0;

      transform: none;
      object-fit: cover;
    }
  }
}
