$text-align: (left, right, center);
@each $align in $text-align {
  .text-#{$align} {
    text-align: $align;
  }
}

@each $media in $media-query {
  @include mq($media) {
    @each $align in $text-align {
      .text-#{$align}-#{$media} {
        text-align: $align;
      }
    }
  }
}

@function leading($fz: 14, $line-height: 24) {
  $linS: $line-height / $fz;
  $val: ($fz * $linS) - $fz;
  @return -$val;
}

@function half-leading($fz: 14, $lin: 24) {
  @return leading($fz, $lin) / 2;
}

@mixin text-crop($lh) {
  //border-top: solid 1px transparent;
  //border-top: solid 0.1px transparent;
  /* margin-topの場合だとtext同士で相殺されてしまう */
  @if ($lh > 1) {
    padding: 0.1px 0;
    &:before, &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
    }
    &:before {
      margin-top: calc((1 - #{$lh}) * 0.5em);
    }
    &:after {
      margin-bottom: calc((1 - #{$lh}) * 0.5em);
    }
  }
}

@mixin ls($tracking: 50) {
  letter-spacing: #{$tracking / 1000}em;
}

@mixin lh($line-height: $text-line-height, $crop: true) {
  @if ($crop) {
    @include text-crop($line-height);
  }
  line-height: $line-height;
}

@mixin font-size($size, $base: $font-size-base) {
  font-size: $size / $base + rem;
}

@mixin fz($fz, $lin: $fz * $line-height, $tracking: 0, $crop: true) {
  $linS: $lin / $fz;
  @include ls($tracking);
  @include lh($linS, $crop);
  @include font-size($fz);
}

@mixin fz-phone($fz, $lin: $fz * $line-height, $tracking: 0, $crop: true) {
  @include fz($fz/3, $lin/3, $tracking, $crop);
}

@mixin fzvw($fz, $lin: $fz * $line-height, $tracking: 0, $viewport: $viewport) {
  $linS: $lin / $fz;
  @include ls($tracking);
  line-height: $linS;
  font-size: $fz * 1px;
  font-size: get-vw($fz, $viewport);
}

@mixin fzvw-phone($fz, $lin: $fz * $line-height, $tracking: 0, $viewport: $viewport) {
  @include fzvw($fz/3, $lin/3, $tracking, $viewport);
}
@mixin fzvw-desktop($fz, $lin: $fz * $line-height, $tracking: 0, $viewport: $viewport-desktop) {
  @include fzvw($fz, $lin, $tracking, $viewport-desktop);
}

@mixin fzvh($fz, $lin: $fz * $line-height, $tracking: 0, $viewport: $viewport-height) {
  $linS: $lin / $fz;
  @include ls($tracking);
  line-height: $linS;
  font-size: $fz * 1px;
  font-size: get-vh($fz, $viewport);
}

@mixin fzvh-desktop($fz, $lin: $fz * $line-height, $tracking: 0, $viewport: $viewport-height) {
  @include fzvh($fz, $lin, $tracking, $viewport-height-desktop);
}
