$viewport-desktop: 1800;
$viewport: 375;
$viewport-height: 748;
$viewport-height-desktop: 1200;

@function get-vh($size, $viewport: 768/*812*/) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vh;
}

@function get-vw($size, $viewport: $viewport) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@function get-vw-desktop($size) {
  @return get-vw($size, $viewport-desktop)
}

@function get-vh-desktop($size) {
  @return get-vh($size, $viewport-height-desktop)
}

