$gutter-width-xxs: 2px !default;
$gutter-width-xs: 4px !default;
$gutter-width-sm: 16px !default;
$gutter-width-md: 20px !default;
$gutter-width-lg: 30px !default;
$gutter-width-xl: 40px !default;
$gutter-width-xxl: 60px !default;

$gutter-width-xxs-desktop: 1% !default;
$gutter-width-xs-desktop: 2% !default;
$gutter-width-sm-desktop: 4% !default;
$gutter-width-md-desktop: 6% !default;
$gutter-width-lg-desktop: 8% !default;
$gutter-width-xl-desktop: 10% !default;
$gutter-width-xxl-desktop: 12% !default;

$gutter-widths: (xxs: $gutter-width-xxs, xs: $gutter-width-xs, sm: $gutter-width-sm, md: $gutter-width-md, lg: $gutter-width-lg, xl: $gutter-width-xl, xxl: $gutter-width-xxl);

$gutter-widths-desktop: (xxs: $gutter-width-xxs-desktop, xs: $gutter-width-xs-desktop, sm: $gutter-width-sm-desktop, md: $gutter-width-md-desktop, lg: $gutter-width-lg-desktop, xl: $gutter-width-xl-desktop, xxl: $gutter-width-xxl-desktop);
