/* grid
------------------------------------------------------------ */
$grid-gutter-width: 40px !default;
$grid-gutter-width-md: 80px !default;

$grid-columns: 12 !default;

$screen-phone: 768px !default;
$screen-phone-min: $screen-phone !default;

$screen-desktop: 992px !default;
$screen-desktop-min: $screen-desktop !default;

$screen-large-desktop: 1800px !default;
$screen-large-desktop-min: $screen-large-desktop !default;

$screen-phone-max: ($screen-desktop-min - 1) !default;
$screen-desktop-max: ($screen-large-desktop-min - 1) !default;

$screen-min-list: (
  phone: $screen-phone-min,
  desktop: $screen-desktop-min,
);

$font-size-base: 16 !default;
