@import '../core/misc/post-body';
@import './mixins/**/*.scss';

@mixin hover {
  @include transition();
  &:hover {
    opacity: 0.8;
  }
}

@mixin zoom-transition {
  position: relative;

  transition: 1.2s $easeOutQuad;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;

    transition: 0.35s $easeOutQuad;

    background-color: rgba(0, 0, 0, 0.1);

    content: '';
  }
}

@mixin zoom {
  opacity: 0.9;

  transform: scale(1.03);
  &::after {
    opacity: 1;
  }
}

@mixin container-phone {
  @include mq-phone-only {
    @include container()
  }
}

@mixin container-desktop {
  @include container($container-width, $container-gutter-width-desktop)
}

@mixin container-wide {
  @include container($container-wide-width, $container-gutter-width-desktop);
}

@mixin container-middle {
  @include container($container-middle-width, $container-gutter-width-desktop);
}

@mixin container-narrow {
  @include container($container-narrow-width, $container-gutter-width-desktop);
}

@mixin user-select($value: none) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

